/*

Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- General Content
- Typography
- Header and Navigation
- Images and Media
- Animations
- Footer
- Media Queries
- Resume
- Datavis
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body{
    height: 100%;
}

.wrapper{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
}

.main{
    padding: 3% 0;;
}

.row{
    padding: 2% 0;
}

.main_page{
    margin: 3% 0 1% 0;
}

.button{
    color: #3D4958;
    border-color: #3D4958;
    margin: auto;
    text-decoration: none;
}

.button:hover{
    background-color: #3D4958;
    color: #fff;
}

.button:active{
    background-color: #5D6979;
    color: #fff;
}

hr {
    margin: 0 auto;
    border-color: #EBF1FA;
    opacity: 0;
}

.error{
    text-align: center;
}

.bodylist li{
    list-style-position: outside;
    margin-left: 1em;
}

.colour{
    color: #3498db;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body{
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    color: #5D6979;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

h1, h2, h3, h4, h5{
    color: #3D4958;
}

h1{
    font-weight: 200;
    font-size: 3em;
}

h2{
    font-weight: 400;
    font-size: 2.4em;
}

h3{
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;;
}

h4{
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0em;
}

h5{
    font-weight: 400;
    letter-spacing: 0em;
    font-size: 1.1em;
    margin-top: -3%
}

nav a{
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.welcome{
    text-align: center;
}

.welcome-left{
    text-align: justify;
}

.imgcaption{
    display: block;
    text-align: center;
    margin-bottom: 0;
}

.overlaytext{
    margin-top: 10%;
    left: 0;
    right: 0;
    opacity: 50%;
}

.work-set h4{
    color: #3498db;
}

@media (max-width: 549px) {

    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.2em;
    }
    h4{
        font-size: 1em;
    }
    h5{
        font-size: 0.9em;
    }
    
}

/* Header and Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header.main_nav{
    padding: 1% 0;
}

nav{
    float: right;
}

nav a{
    display: inline-block;
    color: #5D6979;
    text-align: center;
    padding-bottom: 2%;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 19px;
    margin-right: 0px;
    margin-bottom: 14px;
    margin-left: 25px;
}

nav a:hover:not(.active){
    color: #3D4958;
    /*background-color: #111;*/
}

a.active{
    color: #3D4958;
    border-bottom: 3px solid #3D4958;
}

.logo{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5em;
    margin: 14px auto;
}

.logo a{
    color: #3D4958;
    text-decoration: none;
    /*border: 3px solid #3D4958;
    text-transform: uppercase;
    padding: 2px 10px 0 10px;*/
}

.logo a:hover{
    /*background-color: #3D4958;*/
    color: #3498db;
}

@media (max-width: 549px) {
    .logo{
        text-align: center;
        font-size: 1.2em;
    }
    
    nav{
        width: 100%;
        text-align: center;
    }
    nav a{
        font-size: 0.65em;
        margin: 0 7px;
    }
}   


/* Images and Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.thumb-wrapper{
    text-decoration: none;
}

.thumb{
    position: relative;
    height: 16vw;
    background-size: cover;
    background-position: center;
}

.avatar{
    position: relative;
    width: 14vw;
    max-width: 220px;
}

.overlay{
    position: relative;
    height: 16vw;
    top: -16vw;
    margin-bottom: -16vw;
    background-color: #000;
    transition: background 0.5s ease;
    opacity: 0.5;
}

.overlay_sub{
    position: relative;
    top: -9vw;
    margin-bottom: -24px;
    text-align: center;
    color: white;
}

.overlay_caption{
    position: relative;
    top: -9vw;
    margin-bottom: -3.81vw;
    text-align: center;
    color: white;
}

.thumb-wrapper:hover .overlay{
    background-color: #064384;
    opacity: 0.5;
}

@media (max-width: 549px) {
    .thumb{
        height: 49vw;
        margin: 0 10vw;
    }
    .overlay{
        height: 49vw;
        top: -49vw;
        margin-bottom: -49vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .overlay_caption{
        top: -25vw;
    }
    
    .portfolio{
        padding-bottom: 5%;
    }
    .avatar{
        text-align: center;
        width: 200px;
    }
}

#project1{
    background-image: url(../images/event_04.png);
}

#project2{
    background-image: url(../images/p2p_4.png);
}

#project3{
    background-image: url(../images/unified_5.png);
}

#project4{
    background-image: url(../images/bill_5.png);
}

#project5{
    background-image: url(../images/event_04.png);
}

#project6{
    background-image: url(../images/spotify1.jpg);
}

#project7{
    background-image: url(../images/stamp_1.png);
}

#project8{
    background-image: url(../images/voice_1.jpg);
}

#project9{
    background-image: url(../images/gesture_1.jpeg);
}

#project10{
    background-image: url(../images/cardash_1.png);
}

#project11{
    background-image: url(../images/vr_1.jpg);
}

figure img{
    max-width: 100%;
    height: auto;
    border: 1px solid #efefef;
    display: block;
    margin: 0px auto;
}

/*
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}
*/


/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Loading gif START 
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(../mov/loader.gif) center no-repeat #fff;
}
Loading gif END */

/* Animated underline */
.sliding-middle-out {
}
.sliding-middle-out::after {
    border-bottom: 3px solid #3D4958;
    content: '';
    display: block;
    position: relative;
    top: 5px; /* Change the vertical position of the underline */
    transition: width 0.5s ease;
    width: 0%;
    margin: auto;
}
.sliding-middle-out:hover::after {
	width: 100%;
}

/* Page load fadeInUp animation 
-------------------------------     */

.fadeInUp {
    -moz-animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer{
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #EBF1FA;
}

footer .container{
    height: inherit;
}

.four.columns.footer{
    margin-top: 8px;
}

ul.social{
    margin: 0.8% auto;
    list-style-type: none;
    text-align: center;
}

ul.social li{
    font-size: 1.4em;
    display: inline;
    padding: 0 2%;
}

ul.social li a{
    color: #3D4958;
}

.four.columns.footer{
    margin-left: 2%;
    height: 40%;
}

.copyright{
    font-size: 0.9em;
    margin: 4% auto;
}

.crafted{
    font-size: 0.9em;
    margin: 4% auto;
    float: right;
}

ul.social li a:hover{
    color: #3498db;
}

@media (max-width: 549px) {
    
    .twelve.columns.footer{
        height: 50%
    }
    .four.columns.footer{
        height: 25%;
    }
    ul.social li{
        font-size: 1.2em;
        padding: 0 5%;
    }
    .copyright{
        text-align: center;
        font-size: 0.75em;
        margin: auto;
    }
    .crafted{
        text-align: center;
        float: none;
        font-size: 0.75em;
        margin: auto;
        padding-top: 20px;
    }
}

/* Hover effects START
ul.social li.linkedin a:hover{
    color: rgb(0, 123, 182);
}

ul.social li.behance a:hover{
    
}

ul.social li.dribbble a:hover{
    
}

ul.social li.twitter a:hover{
    color: rgb(0, 172, 237);
}

ul.social li.instagram a:hover{
    color: rgb(81, 127, 237);
}

Hover effects END */

/* Resume Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work-set{
    overflow: hidden;
    margin-top: -0.5%;
}

.work-logo{
    max-width: 40px;
    float: left;
    margin-right: 20px;
}

.work-details{
    margin-top: -2.5%;
    margin-bottom: 5%;
}

ul{
    list-style-type: disc;
}

#resume{
    text-align: center;
    margin-bottom: 50px;
    display: block;
}

/* Datavis
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slidecontainer {
    width: 100% !important; /* Width of the outside container */
}

.slider{
    opacity: 0.8; 
    width: 500px;
}

/* Mouse-over effects */
.slider:hover:enabled {
    opacity: 1;  /* Fully shown on mouse-over */
}

/* Labels below slider */
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}

.radar {
    display: inline-block;
}

/* Ripple effect */
.ripple {
/*
  border: none;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 16px;
  
  cursor: pointer;
  color: white;
  background-color: #66a0ff;
  box-shadow: 0 0 4px #999;
  outline: none;
*/
    
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #87b4ff radial-gradient(circle, transparent 1%, #87b4ff 1%) center/15000%;
}
.ripple:active {
  background-color: #7fb0ff;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
/*
button {
  border: none;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 16px;
  
  cursor: pointer;
  color: white;
  background-color: #66a0ff;
  box-shadow: 0 0 4px #999;
  outline: none;
}
*/

.frame {
    display: block;
/*    padding: 10px 100px 50px 100px;*/
    width: 700px;
    height: 700px;
/*    border-radius: 1px;*/
    border: 1px solid #3D4958;
    background-color: white;
    margin: 0px auto;
    text-align: center;
}

/*
.shadow {
    box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.75);
}
*/


/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.eight.columns.offset-by-two{
    margin-bottom: 40px;
}

.project-header{
    margin-bottom: 25px;
}

.project-footer{
    margin-top: 40px;
    margin-bottom: 20px;
}

.portfolio-back{
    text-align: center;
    position: fixed;
    left: 39%;
    right:39%;
    font-size: 15px;
}

.box{
    border: 2px solid #3498db; 
    padding: 20px;
}

.gallery{
    padding: 0 15px;
}

.previous{
    float:left;
    font-size: 15px;
}

.next{
    float:right;
    font-size: 15px;
}

a{
    color: #3D4958;
}

video{
    display: block;
    margin: 0 auto;
}

@media (max-width: 549px) {
    .gallery{
        font-size: 0.65em;
    }
    
    .next{
        font-size: 0.8em;
    }
    
    .previous{
        font-size: 0.8em;
    }
    
    .portfolio-back{
        font-size: 0.8em;
    }
    
    .project-header{
        margin-bottom: 45px;
    }
    
    .project-footer{
        margin-bottom: 40px;
    }
}

@media (max-width: 749px) {
    .gallery{
        padding: 0 10px;
    }
}